.checkbox-container ::ng-deep .label {
    color: var(--prizm-text-icon-primary);
}

.checkbox {
    width: 100%;
    padding: 6px 16px;

    &:hover {
        background-color: var(--prizm-table-fill-row-hover);
    }

    &:has(.checkbox--checked) {
        background-color: #0089ff33;
    }

    // Это больше не нужно
    // &-selected {
    //     background-color: #0089ff33;
    // }
}